extends layout

block content
  h1= title
  p Welcome to #{title}
  canvas(id='canvas', width='800px', height='800px')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.js')
  script(src='javascripts/fabric.min.js')
  script(src='javascripts/rectangle.js')
  script(src='javascripts/whiteboard-demo.js')
